<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Etudiants</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="nouveau()" expand="block">Nouveau</ion-button>
  <ion-list>
    <ion-item *ngFor="let d of donne">
      <ion-avatar slot="start" (click)="getDetail(d)">
        <img [src]="d.image">
      </ion-avatar>
      <ion-label>
        <h4>{{d.nom}}</h4>
        <p>{{d.prenom}}</p>
        <p class="contact-time">{{d.option}}</p>
      </ion-label>
      <ion-note slot="end">
        <ion-button expand="clear" (click)="modifier(d)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button expand="clear" (click)="supprimer(d.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>